{% extends "../templates/BasepageAdministratorUser.html" %}
{% block reservation_nav %}<li class="active"><a href="#">Reservation</a></li>{% endblock %}
{% block main %}
<div class="navbar-form" style="padding:0px">
    <div class="jumbotron" style="padding:10px;width:1000px;overflow:auto">
        <h1><span class="label label-default">RSERVEATION INFORAMTION</span></h1><br>
        <h4>TODAY's order</h4>
        <table id="t01" class="mytable">
            <tr id="inventoryInfo_row_id">
                <th width="100px">CIN#</th>
                <th width="200px">Customer</th>
                <th width="200px">From Date/Time</th>
                <th width="200px">To Date/Time</th>
                <th width="200px">Status</th>
                <th width="130px">Operation</th>
            </tr>
            {% for order in today_orders %}
            <tr id="order_today{{order.id}}">
                <td>{{order.CIN}}</td>
                <td>{{order.user.username}}</td>
                <td>{{order.fromdate}} / {{order.fromtime}}</td>
                <td>{{order.todate}} / {{order.totime}}</td>
                {% if order.status_deleted == True %}
                <td>Deleted</td>
                <td></td>
                {% elif order.status_returned == True %}
                <td>Returned</td>
                <td></td>
                {% elif order.status_confirmed == True %}
                <td>Confirmed</td>
                <td></td>
                {% else %}
                <td id="status{{order.id}}">Reserved</td>
                <td id="opration{{order.id}}"><a id="con" href="" style="margin-right:20px;margin-left:5px" data-toggle="modal" data-target="#myModal" onclick="confirm({{order.id}})">Confirm</a><a href="" style="margin-right:20px;margin-left:5px" data-toggle="modal" data-target="#myModal_delete" onclick="deleteorder({{order.id}})">Delete</a></td>
                {% endif %}
            </tr>
            <input type="hidden" id="FD{{order.id}}" name="confirm_from_date" value={{order.fromdate}}>
            <input type="hidden" id="FT{{order.id}}" name="confirm_from_time" value={{order.fromtime}}>
            <input type="hidden" id="TD{{order.id}}" name="confirm_to_date" value={{order.todate}}>
            <input type="hidden" id="TT{{order.id}}" name="confirm_to_time" value={{order.totime}}>
            <input type="hidden" id="USER{{order.id}}" name="confirm_user" value={{order.user.username}}>
            <input type="hidden" id="CIN{{order.id}}" name="confirm_CIN" value={{order.CIN}}>
            
                
            {% endfor %}
        </table>
        
        
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria=hidden="false">
            <div class="modal-dialog" style="top:15px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Confirm the Reservation
                        </h4>
                    </div>
                    <form id = "sub_form" action= "{% url 'CRSapp_add_confirm' %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body" style="overflow:auto">
                            <div id = "confirmForm" role="inquiry-info" >
                                
                            </div>
                            <div style="margin-top:60px"id="mile_error">
                            </div>
                            <div id="success">
                            </div>
                    
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <input type="submit" id="add_confirm_button" class="btn btn-primary" onclick="ajax_add_confirm()">
                                </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        
        <div class="modal fade" id="myModal_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria=hidden="false">
            <div class="modal-dialog" style="top:80px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Delete the Reservation
                        </h4>
                    </div>
                    <form id = "delete_form" action= "{% url 'CRSapp_add_delete' %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body" style="overflow:auto">
                            <div id = "deleteForm" role="inquiry-info" >
                                
                            </div>
                            <div id="success_delete">
                            </div>
                            
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <input type="submit" id="add_delete_button" class="btn btn-primary" onclick="ajax_add_delete()">
                                </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        
        
        <h4>FUTURE's order</h4>
        <table id="t01" class="mytable">
            <tr id="inventoryInfo_row_id">
                <th width="100px">CIN#</th>
                <th width="200px">Customer</th>
                <th width="200px">From Date/Time</th>
                <th width="200px">To Date/Time</th>
                <th width="130px">Operation</th>
            </tr>
            {% for order in future_orders %}
            <tr id="order_today{{order.id}}">
                <td>{{order.CIN}}</td>
                <td>{{order.user.username}}</td>
                <td>{{order.fromdate}} / {{order.fromtime}}</td>
                <td>{{order.todate}} / {{order.totime}}</td>
                <td><u>Wait to Confirm..<a></u></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}